<div style="margin: auto; width:700px; padding-top: 40px;" >
    <h1>Image Coverage Results</h1>
    <h2><%=	 @book_title %></h2>
    <h3>Total images: <%= @num_images  %> </h3>
    <h3>Total prodnotes:<%= @prodnotes_hash.size %> </h3>
    <h3>Total captions:<%= @captions_hash.size %> </h3>
    <h3>Total alt text: <%= @alt_text_hash.size %></h3>
    <h4>prodnotes: <%= @prodnotes_hash  %> </h4>
    <h4>captions: <%=  @captions_hash  %> </h4>
    <h4>alt texts: <%= @alt_text_hash  %> </h4>

</div>