<script type="text/javascript">
<!--
function handleClick(image_id){
parent.top_bar.document.getElementById("current_image_index").value = image_id
parent.content.location = "/daisy_book/book/content#" + image_id
}
//-->
</script>

<h3><%= @images.size %> Images</h3>
<% @images.each do | image | 
	id = image['id']
	src = image['src']
	raw_width = image['width']
	raw_height = image['height']
	ratio = 1.0 * raw_width / raw_height
	if(raw_width > raw_height)
		width = 240
		height = width / ratio
	else
		height = 160
		width = height * ratio		
	end
%>
<a id="<%= id %>" href="#<%= id %>">
<img style="border:1px solid black; padding:0.25em; font-size: 80%;" 
	 width='<%= width %>px' height='<%= height %>px' 
	onclick="handleClick('<%= id %>')"
	src='<%= src %>'>
</img>
</a>
<hr/>
<% end %>