<%= form_for(@dynamic_description) do |f| %>
  <% if @dynamic_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dynamic_description.errors.count, "error") %> prohibited this description from being saved:</h2>

      <ul>
      <% @dynamic_description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <input id="dynamic_description_uid" name="book_uid" type="hidden" value= "<%= @book_uid%>"/>
  </div>
    <div class="field">
    <input id="dynamic_description_image_location" name="image_location" type="hidden" value="<%= @image_location%>"/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
