<%= form_for(@dynamic_description) do |f| %>
  <% if @dynamic_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dynamic_description.errors.count, "error") %> prohibited this dynamic_description from being saved:</h2>

      <ul>
      <% @dynamic_description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <label for="dynamic_description_uid">Dynamic image uid</label><br />
    <input id="dynamic_description_uid" name="uid" size="30" type="text" />
  </div>
    <div class="field">
    <label for="dynamic_description_image_location">Dynamic image location</label><br />
    <input id="dynamic_description_image_location" name="image_location" size="30" type="text" />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
