<h1>Listing descriptions</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Is current</th>
    <th>Submitter</th>
    <th>Date approved</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @descriptions.each do |description| %>
  <tr>
    <td><%= description.description %></td>
    <td><%= description.is_current %></td>
    <td><%= description.submitter.submitter_name %></td>
    <td><%= description.date_approved %></td>
    <td><%= description.image %></td>
    <td><%= link_to 'Show', description %></td>
    <td><%= link_to 'Edit', edit_description_path(description) %></td>
    <td><%= link_to 'Destroy', description, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Description', new_description_path %>
