<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @description.description %>
</p>

<p>
  <b>Is current:</b>
  <%= @description.is_current %>
</p>

<p>
  <b>Submitter:</b>
  <%= @description.submitter %>
</p>

<p>
  <b>Date approved:</b>
  <%= @description.date_approved %>
</p>

<p>
  <b>Image:</b>
  <%= @description.image %>
</p>


<%= link_to 'Edit', edit_description_path(@description) %> |
<%= link_to 'Back', descriptions_path %>
