
   <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/aILkI1RNibH67spxDVqi6A.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
  
   <div style="margin: auto; width:700px; padding-top: 40px;" >
    <h1><%=t '.heading' %></h1>
    </br>
    </br>
    </br>

    <h3><%=t '.describe_header' %></h3>
    To enter descriptions for a DAISY<!-- or EPUB--> book that was previously uploaded,
    click <a href="/edit_book/describe">Edit</a>
    </br>
    </br>

    <h3><%=t '.upload_header' %></h3>
    To upload a DAISY<!-- or EPUB--> book,
    which will allow image descriptions to be added later,
    click <a href="/upload_book/upload">Upload</a>
    </br>
    </br>

    <h3><%=t '.update_header' %></h3>
    To update your copy of a DAISY<!-- or EPUB--> book
    with the latest image descriptions, click <a href="/image_book/process">Process</a>
    </br>
    </br>

    <h3><%=t '.image_checker' %></h3>
    To check image description coverage of a DAISY <!-- or EPUB--> book,
    click <a href="/image_book/image_check">Check</a>
  </div>