<div id= "active_admin_content" class="with_sidebar">
 <div id="main_content_wrapper">
 <div id="main_content">  
    <h1>Image Coverage Results</h1>
    <h2><%=	 @book_title %></h2>
    </br>    
    <% if @prodnotes_hash %>
    <h4><b>Prodnotes </b></h4> 
    <table border="0" cellspacting="0" cellpadding="0"  class="index_table" style="margin-bottom:100px !important">
      <thead><tr><th>Image/ID</th><th>Value</th></tr></thead><tr>  
      <tbody>
      <% @prodnotes_hash.keys.each do |key| %>
       <tr class= "odd"><td width="50%">
        <% if (key.is_a? DynamicImage) %>
           <%= key.xml_id%>
        <% else %>
           <%= key %>
        <% end %>
       </td>
       <td width= "60%">
        <% value = @prodnotes_hash[key]%>
        <div class='description-scroller'>
          <%= value %>
        </div>
       </td> </tr>
      <% end %>
      <% if @prodnotes_hash.keys.size == 0 %>
         <tr class= "odd"><td width="50%">No prodnotes</td><td width= "60%"></td></tr>
       <% end %>
      </tbody>
    </table>
    <% end %>
    <% if @described_by_hash %>
    <h4><b>Described by </b></h4> 
    <table border="0" cellspacting="0" cellpadding="0"  class="index_table" style="margin-bottom:100px !important">
      <thead><tr><th>Image/ID</th><th>Value</th></tr></thead><tr>  
      <tbody>
      <% @described_by_hash.keys.each do |key| %>
       <tr class= "odd"><td width="50%">
        <% if (key.is_a? DynamicImage) %>
           <%= key.xml_id%>
        <% else %>
           <%= key %>
        <% end %>
       </td>
       <td width= "60%">
        <% value = @described_by_hash[key]%>
        <div class='description-scroller'>
          <%= value %>
        </div>
       </td> </tr>
      <% end %>
      <% if @described_by_hash.keys.size == 0 %>
         <tr class= "odd"><td width="50%">No Described by</td><td width= "60%"></td></tr>
       <% end %>
      </tbody>
    </table>
    <% end %>
    </br>  
    <h4><b>Captions</b></h4> 
    <table border="0" cellspacting="0" cellpadding="0" class="index_table" style="margin-bottom:100px !important">
      <thead><tr><th>Image/ID</th><th>Value</th></tr></thead><tr>  
       <tbody>
       <% @captions_hash.keys.each do |key| %>
       <tr class= "odd"><td width="50%"><%= key %></td>
       <td width= "60%">
       <% value = @captions_hash[key]%>
       <div class='description-scroller'>
          <%= value %> 
       </div>
       </td> </tr>
       <% end %>
       
       <% if (@captions_hash.keys.size == 0) %>
         <tr class= "odd"><td width="50%">No captions</td><td width= "60%"></td></tr>
       <% end %>
      </tbody>
    </table>
    
    <h4><b>Alt texts</b></h4>
    <table border="0" cellspacting="0" cellpadding="0" class="index_table" style="margin-bottom:100px !important">
      <thead><tr><th>Image/ID</th><th>Value</th></tr></thead><tr>  
       <tbody>
       <% @alt_text_hash.keys.each do |key| %>
       <tr class= "odd"><td width="50%"><%= key %></td>
       <td width= "60%">
       <% value = @alt_text_hash[key]%>
       <div class='convert-to-iframe'>
          <%= value %>
       </div>
       </td> </tr>
       <% end %>

       <% if (@alt_text_hash.keys.size == 0) %>
          <tr class= "odd"><td width="50%">No alt texts</td><td width= "60%"></td></tr>
       <% end %>
      </tbody>
    </table>
 </div>
 
</div>

<div id="sidebar">
      <div class="sidebar_section panel">
            <div class="panel_contents"><table>
              <tr>
                <td align="right">Total images </td>
                <td align="right"><%= @num_images  %></td>
              </tr>
              <% if @prodnotes_hash %>
              <tr>
                <td align="right">Total prodnotes </td>
                <td align="right"><%= @prodnotes_hash.size %></td>
              </tr>
              <% end %>
              <% if @described_by_hash %>
              <tr>
                <td align="right">Total described by </td>
                <td align="right"><%= @described_by_hash.size %></td>
              </tr>
              <% end %>
              <tr>
                <td align="right">Total captions </td>
                <td align="right"><%= @captions_hash.size %></td>
              </tr>
              <tr>
                <td align="right">Total  alt text </td>
                <td align="right"><%= @alt_text_hash.size %></td>
              </tr>   
            </table>
          </div>    
  </div>
  </div>
  
</div>  