%div{:class => "outer-dynamic-description-div", :style => "display: block; "}
  %a.original_size_link{:href => "#", :target => "original size image"} view original size image
  %br
  %strong.image_number_text{:style => "font-size: 80%;"}
  %br
  .new-description
    New Description
    = form_for(DynamicDescription.new, :remote => true, :format => :json, :html => {:class => 'description-form'}) do |f|
      = f.text_area :body, :rows => 8, :cols => 45, :style => 'font-size:120%', :class => 'description-text-area'
      = f.hidden_field 'book_id'
      = f.hidden_field 'dynamic_image_id'
    
      %br
      %button.toggle-tiny-mce{:onclick=>"return false;"} Show Editor
      = f.submit "Submit new image description"
    .description-result
  %div{:class => 'duplicate-image', :style => 'display: none;'}
    This is a duplicate instance of image 
    %div{:class => 'duplicate-image-id'}
    Previous Description(s)
    %div{:class=>"imageDescBox imageDescriptions", :style=>"border:2px solid gray; border-style: groove; padding:0.25em; font-size: 100%; overflow: auto; height: 120px; margin-top: 4px; margin-bottom: 12px;"}
	
    
