%table.outer-table-wrapper
  %tr
    %td.image_slot{:style => "vertical-align:top; margin-left:auto; text-align: center; margin-right: auto; width: 404px;"}
      %div.alt_text 
      %div.actual_image
      %hr
      %div.category_description{:style => "width:500px; height:300px;overflow:auto;"}
    %td
      %div{:class => "outer-dynamic-description-div", :style => "display: block; "}
        %strong.image_number_text{:style => "font-size: 80%;", :tabindex => "-1"}
        %a.original_size_link{:href => "#", :target => "original size image"}  (view original size)
        %br
        %div{:class => 'add-description-div', :style => 'display: none; margin-top: 8px;'}
          %button.add-description{:onclick => "return false;"} Add Description
        .new-description
          = form_for(DynamicDescription.new, :remote => true, :format => :json, :html => {:class => 'description-form'}) do |f|
            = f.hidden_field 'book_id'
            = f.hidden_field 'dynamic_image_id', :class => 'dynamic_image_id'
            
            %br
            %strong.image_category_text{:style => "font-size: 80%;", :tabindex => "-1"}
            - f.object.dynamic_image = DynamicImage.new
            = f.fields_for :dynamic_image do |img_form|
              = img_form.hidden_field :id, :class => 'hidden-id'
              %strong.image_category_text{:style => "font-size: 80%;", :tabindex => "-1"}
                Image Category:
              = img_form.select :image_category_id, ImageCategory.order(:order_to_display).all.map {|category| [category.name, category.id]}, {:include_blank => 'None', :custom_label => 'Category?'},{:id => "dynamic_image_image_category_id_#{img_form.object.id}", :class => 'dynamic-image-category-selector', :onChange => "handleImageCategory(this);" }
            %br
            %br
            %div.long-description-container
              %label.long-description-label Long Description
              %br
                %div.tabs_container
                  %ul.tabs
                    %li
                      %a.body-alternate-tab{:href => "#body-edit-tab"} Edit 
                    %li.active
                      %a.body-default-tab{:href => "#body-preview-tab"} Preview
                %div.tabs_content_container
                  %div{:class => "tab_content body-edit-content edit-content", :id => "body-edit-tab"}
                    .math_warning_message{ :style => "display:none; font-size:80%; color:red; fontWeight:bold;" }
                      Please do not add MathML to an image description that includes other text. Instead, provide a prose description of the math.
                    .text_warning_message{ :style => "display:none; font-size:80%; color:red; fontWeight:bold;" }
                      Please do not add text to an image description that includes MathML. Instead, provide a prose description of the math. 
                    = f.text_area :body, :rows => 6, :cols => 44, :style => 'font-size:120%;display:none;', :class => 'description-text-area'
                    %button.toggle-math-desc{:onclick=>"return false;"} Show/Hide Math Helper
                    %div.math_desc_div{:style => "display:none;"}
                      Equation Editor:
                      %a{:href => "http://www1.chapman.edu/~jipsen/mathml/asciimath.html", :target => "ascii math examples"} (examples)
                      %br
                      %textarea.equation-editor{:rows => 5, :cols => 30}
                      .svg_node
                      %button.add-to-desc{:onclick => "return false;"}Add to Long Description
                      %p
                    %br
                  %div{:class => "tab_content body-preview-content preview-content", :id => "summary-preview-tab", :style => "display: block;"}
                    .preview-body
                    .preview-author
              %br
            %div{:class => 'collapsible', 'trigger' => 'Show/Hide Additional Fields', :style => "display:none; margin-top: 8px; margin-bottom: 8px;"}
              %div.summary-container
                %label.summary-label Summary
                %br
                %div.tabs_container
                  %ul.tabs
                    %li
                      %a.summary-alternate-tab{:href => "#summary-edit-tab"} Edit
                    %li.active
                      %a.summary-default-tab{:href => "#summary-preview-tab"} Preview
                %div.tabs_content_container
                  %div{:class => "tab_content summary-edit-content edit-content", :id => "summary-edit-tab"}
                    = f.text_area :summary, :rows => 3, :cols => 44, :style => 'font-size:120%', :class => 'description-text-area'
                  %div{:class => "tab_content summary-preview-content preview-content", :id => "summary-preview-tab", :style => "display: block;"}
                    .preview-summary
                %br
              %div.simplified-container
                %label.simplified-description-label Simplified Language Description
                %br
                %div.tabs_container
                  %ul.tabs
                    %li
                      %a.simplified_language_description-alternate-tab{:href => "#simplified_language_description-edit-tab"} Edit
                    %li.active
                      %a.simplified_language_description-default-tab{:href => "#simplified_language_description-preview-tab"} Preview
                %div.tabs_content_container
                  %div{:class => "tab_content simplified_language_description-edit-content edit-content", :id => "simplified_language_description-edit-tab"}
                    = f.text_area :simplified_language_description, :rows => 3, :cols => 44, :style => 'font-size:120%', :class => 'description-text-area'
                  %div{:class => "tab_content simplified_language_description-preview-content preview-content", :id => "simplified_language_description-preview-tab", :style => "display: block;"}
                    .preview-simplified_language_description
              %br
              %div
                %label.annotation-label Annotation
                %br
                = f.text_area :annotation, :rows => 3, :cols => 44, :style => 'font-size:120%', :class => 'description-text-area'
              %br
              %div
                Target Age & Grade
                %br
                %label.from-age-label From Age:
                = select_tag('dynamic_description[target_age_start]', options_for_select((1..100).to_a))
                %label.to-age-label To Age:
                = select_tag('dynamic_description[target_age_end]', options_for_select((1..100).to_a))
                %br
                %label.from-grade-label From Grade:
                = select_tag('dynamic_description[target_grade_start]', options_for_select((1..12).to_a))
                %label.to-grade-label To Grade:
                = select_tag('dynamic_description[target_grade_end]', options_for_select((1..12).to_a))
              %br
              %div
                Tactile
                %br
                %label.tactile-source-label Source:
                %br
                = f.text_area :tactile_src, :rows => 1, :cols => 44, :style => 'font-size:120%'
                %br
                %label.tactile-tour-label Tour:
                %br
                = f.text_area :tactile_tour, :rows => 3, :cols => 44, :style => 'font-size:120%'
            %br
            %br
            
            %div{:align => "right"}
              = f.submit "Save"
          .description-result
            %br
        %div{:class => 'duplicate-image', :style => 'display: none;'}
          This is a duplicate instance of image
          %div{:class => 'duplicate-image-id'}



