<body class="index admin_books logged_in">
  <div id="wrapper">
    <div id="header">
      <h1 id="site_title"><a href="/">Poet Image Description</a></h1>
      <p id="utility_nav">
        <% if can? :view_admin, @all %> 
          <%= link_to "Books", admin_books_path %> &nbsp;
        <% else %>
          <%#=  link_to "Books", book_list_path %> &nbsp;
        <% end %>
        <%= link_to "Guidelines", edit_book_description_guidance_path %> &nbsp;
        <%= link_to "Help", edit_book_help_path %> &nbsp;
        <% if current_user %>
          <%= link_to 'User Profile', edit_user_path(current_user) %> &nbsp;
        <% end %>
        <% if can? :view_admin, @all %> 
          <%= link_to "Admin", admin_dashboard_path %> &nbsp;
        <% end %>
        <% if user_signed_in? %>
          <%= current_user.username %> 
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
      </p>
    </div>
  </div>
</body>
   
   
   
   
   
   
   
   
   
   
   
   
     