<h1>Reports</h1>

<br/>

<h3>Books with at least one image description: <%= @books_total %></h3>

</br>
</br>

<a href="/reports/update_book_stats">(Update book stats)</a>
<br/><br/>

<table cellpadding="4" cellspacing="0" border="1" width="100%">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Total Images</th>
    <th>Total Essential Images</th>
    <th>% Essential</th>
    <th>Total Images Described</th>
    <th>Total Essential Images Described</th>
    <th>% Essential Described</th>
  </tr>
  <tr>
     <th></th>
     <th>Totals</th>
     <th></th>
     <th align="right"><%= @total_essential_images %></th>
     <th></th>
     <th align="right"><%= @total_images_described %></th>
     <th></th>
  </tr>

<% @book_stats.each do |book_stat| %>
  <%
     if (book_stat.total_essential_images == 0 && book_stat.total_images_described == 0)
        percent_described = 0
     else
       percent_described = book_stat.essential_images_described * 100.00/book_stat.total_essential_images
     end
  %>

  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= book_stat.book_uid %></td>
    <td><%= book_stat.book_title %></td>
    <td align="right"><%= book_stat.total_images %></td>
    <td align="right"><%= book_stat.total_essential_images %></td>
    <td align="right"><%= number_to_percentage(book_stat.total_essential_images * 100.00/book_stat.total_images, :precision => 1) %></td>
    <td align="right"><%= book_stat.total_images_described %></td>
    <td align="right"><%= book_stat.essential_images_described %></td>
    <td align="right"><%= number_to_percentage(percent_described, :precision => 1)  %></td>

  </tr>
<% end %>
  <tr>
     <th></th>
     <th>Totals</th>
     <th align="right"><%= @total_images %></th>
     <th align="right"><%= @total_essential_images %></th>
     <th align="right"><%= number_to_percentage(@total_essential_images * 100.00/@total_images, :precision => 1) %></th>
     <th align="right"><%= @total_images_described %></th>
     <th align="right"><%= @total_essential_images_described %></th>
     <th align="right"><%= number_to_percentage(@total_essential_images_described * 100.00/@total_essential_images, :precision => 1) %></th>
  </tr>
</table>
