
<h2>Book ID: <%=@book.uid %> </h2>
<h3> <%= @book.title%> </h3>
</br>

<h3>Total images described: <%= @images_described %> </h3>
<h3>Total descriptions: <%= @descriptions_total %></h3>
<h3>Total images: <%= @images_total %></h3>
<h3>Essential images that still need describing: <%= @description_still_needed%> </h3>
<h3>Total essential images: <%= @essential_images_total%> </h3>