<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @image.book_id %>

  <b>Image:</b>
  <%= @image.image_id %>
</p>

<p>
  <b>Isbn:</b>
  <%= @image.isbn %>

  <b>Page number:</b>
  <%= @image.page_number %>

  <b>Sequence number:</b>
  <%= @image.sequence_number %>
</p>

<p>
  <b>Caption:</b>
  <%= @image.caption %>
</p>

<p>
    <img src="<%= @image.url %>" />
</p>


<h2>Descriptions</h2>
<% @image.descriptions.each do |description| %>
  <p>
    <b>Submitter:</b>
    <%= description.submitter %> </br>
    <b>Description:</b>
    <%= description.description %>
  </p>
<% end %>

<h2>Add a description:</h2>
<%= form_for([@image, @image.descriptions.build]) do |f| %>
  <div class="field">
    <%= f.label :submitter %><br />
    <%= f.text_field :submitter %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
