<!DOCTYPE html>
<html>
<head>
  <title>DiagramRailsApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div style="margin: auto; width:700px; padding: 10px;">
    <% if (flash.alert) %>
    <span style="font-weight: bold; color:red; padding: 5px; border-width: 4px; border-style: ridge; border-color: yellow;" ><%= flash.alert %></span>
    <% end %>
    <%= flash.notice %>
</div>
<%= yield %>

</body>
</html>
