<html>
  <head>
    <title>Image Description Guidelines</title>

    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>

    <style type="text/css">ol{margin:0;padding:0}p{margin:0}.c0{color:#4f81bd;font-size:13pt;font-family:Times New Roman;font-weight:bold}.c9{color:#4f81bd;font-size:13pt;font-weight:bold}.c17{list-style-type:disc;margin:0;padding:0}.c1{padding-left:0pt;direction:ltr;margin-left:36pt}.c7{padding-left:18pt;direction:ltr;margin-left:18pt}.c13{width:432pt;background-color:#ffffff;padding:4pt 8pt}.c12{color:#345a8a;font-size:16pt;font-weight:bold}.c2{color:#1a1a1a;font-size:12pt}.c16{color:inherit;text-decoration:inherit}.c11{line-height:1.15;padding-bottom:10pt}.c5{height:12pt;direction:ltr}.c18{color:#000099}.c14{font-family:Times New Roman}.c8{direction:ltr}.c4{font-style:italic}.c10{padding-bottom:10pt}.c3{font-size:12pt}.c6{text-decoration:underline}.c15{color:#222222}body{color:#000000;font-size:12pt;font-family:Times New Roman}.c20{padding-left: 16px;}h1{padding-top:12pt;line-height:1.0;text-align:left;color:#345a8a;font-size:16pt;font-family:Times New Roman;font-weight:bold;padding-bottom:0pt}h2{padding-top:10pt;line-height:1.0;text-align:left;color:#4f81bd;font-size:13pt;font-family:Times New Roman;font-weight:bold;padding-bottom:0pt}h3{padding-top:10pt;line-height:1.0;text-align:left;color:#4f81bd;font-size:12pt;font-family:Times New Roman;font-weight:bold;padding-bottom:0pt}h4{padding-top:12pt;line-height:1.0;text-align:left;color:#000000;font-size:14pt;font-family:Times New Roman;font-weight:bold;padding-bottom:3pt}h5{padding-top:12pt;line-height:1.0;text-align:left;color:#000000;font-style:italic;font-size:13pt;font-family:Times New Roman;font-weight:bold;padding-bottom:3pt}h6{padding-top:12pt;line-height:1.0;text-align:left;color:#000000;font-size:11pt;font-family:Times New Roman;font-weight:bold;padding-bottom:3pt}</style>

  </head>

  <body class="index admin_books logged_in">
    <div id="wrapper">
      <div id="header">
        <h1 id="site_title"><a href="/">Poet Image Description</a></h1>
        <ul class="tabbed_navigation" id="tabs"></ul>       
        <p id="utility_nav">
          <% if can? :view_admin, @all %> 
            <%= link_to "Books", admin_books_path %> &nbsp;            
          <% else %> 
            <%#= link_to "Books", book_list_path %> &nbsp;
          <% end %> 
          <%= link_to "Guidelines", edit_book_description_guidance_path %> &nbsp;
          <%= link_to "Help", edit_book_help_path %> &nbsp;
          <% if current_user %>
            <%= link_to 'User Profile', edit_user_path(current_user) %> &nbsp;
          <% end %>
          <% if can? :view_admin, @all %> 
              <%= link_to "Admin", admin_dashboard_path %> &nbsp;
          <% end %>
          <% if user_signed_in? %>
              <%= current_user.username %> 
             <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
          <% end %>
        </p>
      </div>
    </div>
    <div class ="c13" style="margin-left: 100px;">
      <%= yield %>
    </div>
    
    <div id="poet_footer" class="poet_footer"> <!-- TODO -- footer font smaller !-->
      <p><strong>Legal Disclaimer</strong>: The Poet tool is intended to assist in the creation of accessible content. Use of the Poet tool is limited to activities for creating content that comply with applicable copyright law and contractual agreements. By using this tool, you accept all provisions contained in the <%= link_to('Terms of Use', user_terms_of_service_path, :target => '_blank' ) %>. If you do not wish to be bound by the provisions contained in the Terms of Use, do not use the Poet tool.</p>
      <p>Copyright &copy; 2012 <a href="http://www.benetech.org">Benetech</a>.</p> 
    </div> 
  </body>
</html>
